
$pad: 20px;


// js-autocomplete styles
.autocomplete-suggestions {
  text-align: left; 
  cursor: default; 
  border: 1px solid #ccc; 
  border-top: 0; 
  background: #fff; 
  box-shadow: -1px 1px 3px rgba(0,0,0,.1);

  /* core styles should not be changed */
  position: absolute;
  display: none; 
  z-index: 9999; 
  max-height: 254px; 
  overflow: hidden; 
  overflow-y: auto; 
  box-sizing: border-box;
}
.autocomplete-suggestion { 
  position: relative; 
  padding: 0 .6em; 
  line-height: 23px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-size: 1.02em; 
  color: #333; 
}
.autocomplete-suggestion b { 
  font-weight: normal; 
  color: #1f8dd6; 
}
.autocomplete-suggestion.selected { 
  background: #f0f0f0; 
}

// Styles
.hidden {
  display: none;
}




.parent {
  // background-color: rgba(255, 255, 255, 0.2);
  // margin: 50px 0;
  margin: 50px auto;
  max-width: 700px;
  // padding: 20px;
}

input {
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: #ecf0f1;
  padding: 10px;
  color: #333;
  border: 0;
  margin: 5px 0;
  display: block;
  width: 100%;
}



// Hide Vue stuff until Vue is loaded
[v-cloak] {
  display: none;
}


.waffle-chart, .pie-chart {
  margin: 38px 0 36px;
  text-align: center;
  // padding: 18px 0 0;
}

.waffle-chart svg {
  margin: auto;
  max-width: 500px;
}

#app {
  padding-top: 1em;
}

#app h2 {
  font-size: 28px;
}

ul#automation-list {
    list-style: none;
}


.chart-key-container {
  position: relative;
  top: -0.7em;
}

.chart-key-container .more-key {
  // font-weight: bold;
  // color: #B05154;
  font-size: 11px;
  color: #737373;
  position: absolute;
  right: 1px;
}

.chart-key-container .less-key {
  // font-weight: bold;
  // color: #1B7A7D;
  color: #737373;
  font-size: 11px;
}

.chart-key-container .arrow {
  font-size: 16px;
  position: relative;
  top: 1px;
}

#app h2.job-title {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: #333;
  margin-bottom: 4px;
  font-family: "ABCSerif","Book Antiqua","Palatino Linotype",Palatino,serif;
  text-transform: initial;
  line-height: 1.5;
}

#app .group-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  font-family: "ABCSerif","Book Antiqua","Palatino Linotype",Palatino,serif;
}

#ai-jobs-automation .spacer {
  margin-bottom: 2rem;
}

#ai-jobs-automation {
  font-family: "ABCSans","Interval Sans Pro",Arial,Helvetica,sans-serif;
  font-size: 18px;
}

#ai-jobs-automation ul {
  padding-left: 20px;
  margin: 18px 0;
}

#ai-jobs-automation p {
  margin: 18px 0;
}

#ai-jobs-automation .more-highlighter {
  background-color: #FFE0B9;
}

#ai-jobs-automation .less-highlighter {
  background-color: #C1E0EA;
}

#ai-jobs-automation .mid-text {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  font-family: "ABCSerif","Book Antiqua","Palatino Linotype",Palatino,serif;
  margin-bottom: 0.4em;
}

#ai-jobs-automation .section-less {
  margin-top: 2em;
}

#ai-jobs-automation .Share-title {
  margin-top: 2em;
}

#ai-jobs-automation hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

#ai-jobs-automation .reaction-message {
  margin-top: 2rem;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  color: rgb(195, 51, 127);
}

#ai-jobs-automation .barcode-title {
  font-size: 16px;
  font-weight: bold;
}